HEAD{background-color: black;
}

body{background-color: chartreuse;}

footer{background-color: black;}
#a1{ color:rgb(21, 0, 252);background-color: rgba(210, 20, 220, 0.514); font-size:larger;

}
#P1{background-color: black;color: gold;font-style:italic ;
}
.ABOUT{ border:25px; box: shadow 23px
}





}
.a{background-color: aqua;},.
